<table style="width:400px;border-bottom:#808080 1px solid;">   
<tbody>
    <tr>
        <td style="width:36px; " align="center" valign="middle">
            <img src="img/car_map.png" border="0" title="">
        </td>
        <td><b>
            <table style="width:100%;">
                <tbody>
                    <tr>
                        <td style="width:100%" valign="middle">
                            <b>#nombre#</b><br />
                            <b>IMEI: </b>#imei#
                        </td>
                        <td style="width:18px;" align="right" valign="middle"> </td>
                        <td style="width:36px;" align="right" valign="middle"></td>
                    </tr> 
                </tbody>
            </table>
        </td>   
    </tr>
</tbody>
</table>
<table style="width:100%;">
<tbody>
    <tr>
        <td style="width:200px; "><b>Latitud: </b>#latitud#</td>
        <td><b>Longitud: </b>#longitud#</td>
    </tr>
    <tr>
        <td style="width:200px;"><b>Velocidad: </b>#velocidad#km/h</td>
        <td><b>Altitud: </b>#altitud#mts</td>
    </tr>
    <tr>
        <td style="width:200px;"><b>Gasolina1: </b>#gas1#%</td>
        <td><b>Gasolina2: </b>#gas2#%</td>
    </tr>
    <tr>
        <td style="width:200px;"><b>Temperatura: </b>#temperatura#</td>
        <td><b>GPS: </b>#gps#</td>
    </tr>   
    <tr>       
        <td style="width:200px;"><b>ACC: </b>#acc#</td>
        <td><b>Door: </b>#door#</td>   
    </tr>   
    <tr>       
        <td style="width:200px;"><b>Fecha: </b>#fecha#</td>       
        <td><b>Millas acumuladas: </b>#millas#</td>   
    </tr>
</tbody>
</table>